.MainHeader {
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.search::before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    content: '\e900';
}