.IconInfo-title {
    text-align: left;
    font-size: 26px;
    line-height: 27px;
    letter-spacing: 0.8px;
}

.IconInfo-text {
    text-align: left;
    margin-top: 21px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.15px;
}