.MainFooter {
    height: 364px;
    background: #2f4052;
}

@media (max-width:991px) {
    .MainFooter {
        height: 650px;
    }
    .MainFooter-main > :nth-last-child(-n+2) {
        margin-top: 50px;
    }
}

@media (max-width:768px) {
    .MainFooter {
        height: 100%;
    }
    .MainFooter > :first-child {
        padding-top: 50px;
    }
    .MainFooter > :last-child {
        padding-bottom: 50px;
    }
    .MainFooter-main > :nth-child(2) {
        margin-top: 50px;
    }
}