.MainHeaderV {
    background: #f5f7fa;
    overflow: hidden;
	transition: max-height 0.2s linear;
}

.MainHeaderV-h {
    max-height: 0;
}

.MainHeaderV-v {
    max-height: 450px;
}

.MainHeaderV-menu {
    padding: 15px 0;
}

.MainHeaderV-item:not(:last-child) {
    border-bottom: 1px solid #e6e9ed;
}

.MainHeaderV-link {
    width: 100%;
    display: block;
    padding: 15px 0;
}