.thumb {
    padding: 0;
}

.thumb:nth-child(odd) {
    padding-right: 2.5px;
}

.thumb:nth-child(even) {
    padding-left: 2.5px;
}

.thumb:nth-child(-n+2) {
    padding-bottom: 5px;
}

.thumb img {
    width: 100%;
}