.SocialNetworks {
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.SocialNetworks-link {
    width: 30px;
}

.SocialNetworks-icon {
    width: inherit;
    height: 100%;
    display: flex;
    justify-content: center;
}

.SocialNetworks-icon::before {
    content: '';
    height: 0;
    width: inherit;
    transition: all 0.2s ease-out;
}
.SocialNetworks-link:hover .SocialNetworks-icon::before {
    height: 100%;
}
.icon-facebook::before {
    background: #4668b3;
}
.icon-gplus::before {
    background: #de5745;
}
.icon-twitter::before {
    background: #2fbbed;
}
.icon-pinterest::before {
    background: #d94348;
}
.icon-behance::before {
    background: #3079ff;
}
.icon-dribbble::before {
    background: #EB6396;
}

.SocialNetworks-icon::after {
    position: absolute;
    font-family: "fontello";
    font-style: normal;
    align-self: center;
}
.SocialNetworks-link:hover .SocialNetworks-icon::after {
    color: #fff;
}
.icon-facebook::after {
    content: '\f800';
}
.icon-gplus::after {
    content: '\f801';
}
.icon-twitter::after {
    content: '\f802';
}
.icon-pinterest::after {
    content: '\f803';
}
.icon-behance::after {
    content: '\f804';
}
.icon-dribbble::after {
    content: '\e805';
}