.HeroHeader-slider {
    height: 480px;
    position: relative;
    width: 100%;
}

.HeroHeader-img {
    height: 100%;
    background-size: cover;
    background-position: center;
}

.HeroHeader-content {
    position: absolute;
    width: 100%;
    top: 0;
}

.HeroHeader-title {
    font-weight: 900;
    font-size: 60px; /* 78 */
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1em;
}

.HeroHeader-text {
    margin-top: 13px;
    /* font-size: 24px */
    color: #a3b1bf;
    padding: 0 10% 0 10%;
    letter-spacing: 0.5px;
    line-height: 33px;
}

.HeroHeader-btn {
    margin-top: 35px;
    width: 208px; /* 295 */
    height: 54px; /* 65 */
    font-size: 18px;
}

@media (max-width:768px) {
    .HeroHeader-title {
        font-size: 40px;
    }
    .HeroHeader-text {
        padding: 0;
    }
}